
[mysqld]

default-storage-engine  = InnoDB

innodb_strict_mode = OFF
innodb_flush_log_at_trx_commit = 2
innodb-flush-method             = O_DIRECT

transaction-isolation = READ-COMMITTED

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
